body {
    background-image: url("../imgs/background.gif");
    /* Ajustes para que el GIF de fondo no se altere al cambiar la ventana */
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir todo el cuerpo */
    /*background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-attachment: fixed; /* Fija el fondo para que no se desplace con el contenido */
}

/*FUENTE PERSONALIZADA*/
@font-face {
    font-family: 'fuente';
    src: url('../fonts/ACMountain.otf') format('woff2');
    /* Agrega otros atributos según sea necesario */
}
/*Estilo para la cabecera*/
.cabecera_principal{
    background-color: #331e8f; /* Fondo azul */
    border-color: blue; /* Color del borde de la cabecera */
    border-style: ridge;  /* Forma del borde (línea contínua)*/
    border-radius: 1em;   /* Redondeo de los bordes */
}

/* Logotipo de la cabecera */
.enlace-imagen {
    max-width: 20%; /* Ajusta el tamaño de la imagen del logo */
    max-height: 20%;
}
.enlace-imagen img{
    max-width: 100%;
}
/* Caja con el título y las secciones */
.contenido_cabecera {
    display: flex;          /* Activar flex*/
    flex-direction: column; /* Hacer que el título esté encima de las secciones */
}

/*Título de la cabecera*/
#titulo_principal {
    text-decoration: underline; /* SUBRAYAR TITULO*/
    color: white; /* Cambia el color del texto según necesites */
    font-family: 'fuente', sans-serif; /* Fuente */
    font-size: 1em;
    margin-bottom: 5%;
    margin-right: 5%;
}
.secciones a {
    margin-left: 20px;
    margin-right: 20px; /* Ajusta el espacio entre los menús */
    color:aliceblue;  /* Color del texto */
    background-color: rgb(3, 32, 23); /* Color de la caja del menú */
    border-radius: 0.5em; /* Redondear bordes */
    padding: 2%;      /* Espacio a dejar entre el texto y el borde */
    font-family: 'fuente', sans-serif; /* Fuente */
}
/*Efecto de escalado al poner el ratón encima de cada MENU */
.secciones a:hover{
    font-size: 1.5em;
    transition: font-size 0.3s ease; /* Hacer que el escalado sea suave */
    border-style: ridge;
}
/*FIN CABECERA*/

/*CUERPO GENERAL*/
/* Estilo de las columnas */
.cuerpo{
    display: flex;
}
.contenido{
    border-radius: 1em;
    border-color: black;
    border-style: double;
}
/*FIN CUERPO GENERAL*/
/*CUERPO IZQUIERDO*/
#cuerpo_izq{
    background-color: #444e50; /* Color de la columna*/
    color: white;              /* Color del texto */
    margin-right: 2em;           /* Dejar un hueco con la columna derecha para que se vea el fondo */
    display: flex;               /* Activar flex para alinear el contenido futuro */
    flex-direction: column;      /* Cada Elemento Auxiliar irá uno encima del otro */
    padding: 1%;                 /* Dejar hueco entre el borde y el contenido */
    justify-content: center;     /* Centrar en el eje horizontal los Elementos auxiliares */
}
#ele{
    text-align:center;
}
/*FIN CUERPO IZQUIERDO*/
/* Columna principal */
#cuerpo_der{
    background-color: #145b64; /* Color del contenedor */
    color: white;              /* Texto blanco */
    font-family: Georgia, sans-serif;
}
/* Titulo + fecha + precio */
.cabecera_actividad{
    float: left;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 60%;
    margin-left: 2%;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
/* Contenedor de imágenes de la actividad */
.imagenes{
    margin-top: 2%;
    margin-right: 2%;
    float: right;
    width: 33%;
}
/* Contenedor de imagen con su pie de foto */
.imagenes figure{
    border-style:solid;
    border-color: black;
    border-radius: 5%;
    padding: 2%;
    text-align: center;
}
.tipoimg{
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto */
    border-radius: 5%;
}
/* descripción de la actividad */
.descripcion{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: auto;
    max-width: 60%;
}
/* Contenedor de lista de las redes */
.redes{
    float: left;
    margin: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
}
/*Tamaños de cada red social e imprimir */
.red{
    width: 20%;
    max-width: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
/*Tamaño máximo de la imagen dentro de su contenedor*/
.red img{
    max-width: 100%;
}


/*Pie de página*/
#pie_principal{
    margin-top: 1%;
    background-color: #331e8f;
    text-align: center;
    color: white;
    border-radius: 1em;
    border-color: black;
    border-width: 1em;
    padding: 1%;
}

/************Practica 2**********/

.oculto{
    max-height: 0px; /* Altura máxima inicialmente cero para ocultar el contenido */
    opacity: 0; /* Opacidad inicialmente cero para ocultar el contenido */
}
.visible{
    max-height: 100%; /* Altura máxima para mostrar el contenido */
    opacity: 1; /* Opacidad completa para mostrar el contenido */
}
.transicion{
    transition:  max-height 0.5s ease; /* Transición de max-height con duración de 0.5 segundos */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.boton {
    float: left;/*Evitar que el boton se vaya a la derecha automaticamente*/
    background-color: #4cacaf; /* Color de fondo */
    border: 2px solid #4c53af; /* Borde sólido */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    font-size: 1.1em; /* Tamaño de fuente */
    border-radius: 0.5em; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.boton:hover {
    background-color: #4e45a0; /* Cambia el color de fondo al pasar sobre el botón */
    border-color: #fbfcfb; /* Cambia el color del borde al pasar sobre el botón */
}

#botoncom{
padding: 1%;
margin-left: 5%;
margin-bottom: 1%;
-webkit-text-stroke: 0.5% black;
font-size: 2em;
}

#comentarios{
    float: left;
    background-color: #4cacaf;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 1em;
    border-color: #145b64;
    border-style: inherit;
    display: flex;
    flex-direction: column;
}

.comentario{
    margin: 1%;
    padding: 1%;
    background-color: rgb(57, 128, 128);
    border-radius: 1em;
}
.cabecera_usr{
    display: flex;
    margin-left: 1%;
    padding: auto;
}
.cabecera_usr img{
    max-width: 10%;
    max-height: 10%;
    border-radius: 1em;
    margin-right: 1%;
}
.fecha_usr{
    margin-left: auto;
}

.error-message{
    color: red;
}